apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: csi-driver-nfs
  namespace: kube-system
spec:
  repo: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
  chart: csi-driver-nfs
  version: "{{ k3s_storage_nfs_chart_version }}"
  targetNamespace: kube-system
{% if k3s_storage_nfs_create_storageclass %}
  valuesContent: |-
    storageClasses:
      - name: {{ k3s_storage_nfs_storageclass_name }}
        annotations:
          storageclass.kubernetes.io/is-default-class: "true"
        parameters:
          server: {{ k3s_storage_nfs_server }}
          share: {{ k3s_storage_nfs_server_share }}
        reclaimPolicy: {{ k3s_storage_nfs_reclaim_policy }}
        volumeBindingMode: {{ k3s_storage_nfs_volume_binding_mode }}
        mountOptions:
          - nfsvers={{ k3s_storage_nfs_version }}
{% endif %}
