apiVersion: v1
kind: Secret
metadata:
  name: traefik-ingress-default-tls
  namespace: kube-system
type: kubernetes.io/tls
data:
  tls.crt: {{ k3s_traefik_tls_crt }}
  tls.key: {{ k3s_traefik_tls_key }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    tlsStore:
      default:
        defaultCertificate:
          secretName: traefik-ingress-default-tls
